workflows/example/market_research_workflow.json
{
  "workflow_schema_version": "2.2.0",
  "workflow_id": "b2a6321f-4d41-4b17-9fef-5cb89c981b60",
  "workflow_name": "Market Intelligence and Action Plan",
  "description": "Multi-stage research, synthesis, and planning workflow using diverse skills and MCP tools.",
  "version": "1.0.0",
  "created_at": "2025-09-22T12:00:00Z",
  "updated_at": "2025-09-22T12:00:00Z",
  "author": "example",
  "tags": [
    "demo",
    "research",
    "planning"
  ],
  "workflow_input_schema": {
    "type": "object",
    "properties": {
      "topic": {
        "type": "string"
      },
      "company": {
        "type": "string"
      },
      "audience": {
        "type": "string"
      }
    },
    "required": [
      "topic",
      "company",
      "audience"
    ]
  },
  "af_imports": [
    {
      "uri": "/app/agents/worker.af",
      "version": "2"
    }
  ],
  "skill_imports": [
    {
      "uri": "/app/generated/manifests/skill.plan.research_scope-0.1.0.json"
    },
    {
      "uri": "/app/generated/manifests/skill.research.news-0.1.0.json"
    },
    {
      "uri": "/app/generated/manifests/skill.research.web-0.1.0.json"
    },
    {
      "uri": "/app/generated/manifests/skill.research.company-0.1.0.json"
    },
    {
      "uri": "/app/generated/manifests/skill.analyze.synthesis-0.1.0.json"
    },
    {
      "uri": "/app/generated/manifests/skill.write.briefing-0.1.0.json"
    },
    {
      "uri": "/app/generated/manifests/skill.plan.actions-0.1.0.json"
    },
    {
      "uri": "/app/generated/manifests/skill.qa.review-0.1.0.json"
    },
    {
      "uri": "/app/generated/manifests/skill.write.summary-0.1.0.json"
    }
  ],
  "asl": {
    "Comment": "End-to-end market intelligence brief creation",
    "StartAt": "DefineScope",
    "Version": "1.0",
    "States": {
      "DefineScope": {
        "Type": "Task",
        "Comment": "Clarify the research scope and success metrics",
        "AgentBinding": {
          "agent_template_ref": {
            "name": "worker"
          },
          "skills": [
            "skill://plan.research_scope@0.1.0"
          ]
        },
        "Parameters": {
          "topic.$": "$.topic",
          "constraints": "Focus on near-term go-to-market decisions"
        },
        "ResultPath": "$.scope",
        "Next": "GatherHeadlines"
      },
      "GatherHeadlines": {
        "Type": "Task",
        "Comment": "Collect relevant news coverage and supporting context",
        "AgentBinding": {
          "agent_template_ref": {
            "name": "worker"
          },
          "skills": [
            "skill://research.news@0.1.0",
            "skill://research.web@0.1.0"
          ]
        },
        "Parameters": {
          "topic.$": "$.topic",
          "maxResults": 5
        },
        "ResultPath": "$.news",
        "Next": "FetchCompanyProfile"
      },
      "FetchCompanyProfile": {
        "Type": "Task",
        "Comment": "Pull structured intel on the focal company",
        "AgentBinding": {
          "agent_template_ref": {
            "name": "worker"
          },
          "skills": [
            "skill://research.company@0.1.0"
          ]
        },
        "Parameters": {
          "company.$": "$.company"
        },
        "ResultPath": "$.companyProfile",
        "Next": "SynthesizeInsights"
      },
      "SynthesizeInsights": {
        "Type": "Task",
        "Comment": "Derive themes and risks from research artifacts",
        "AgentBinding": {
          "agent_template_ref": {
            "name": "worker"
          },
          "skills": [
            "skill://analyze.synthesis@0.1.0"
          ]
        },
        "Parameters": {
          "insights": {
            "news.$": "$.news",
            "company.$": "$.companyProfile",
            "scope.$": "$.scope"
          }
        },
        "ResultPath": "$.analysis",
        "Next": "DraftBriefing"
      },
      "DraftBriefing": {
        "Type": "Task",
        "Comment": "Prepare executive briefing for stakeholders",
        "AgentBinding": {
          "agent_template_ref": {
            "name": "worker"
          },
          "skills": [
            "skill://write.briefing@0.1.0"
          ]
        },
        "Parameters": {
          "themes.$": "$.analysis.themes",
          "audience.$": "$.audience"
        },
        "ResultPath": "$.briefing",
        "Next": "PlanActions"
      },
      "PlanActions": {
        "Type": "Task",
        "Comment": "Recommend prioritized next steps",
        "AgentBinding": {
          "agent_template_ref": {
            "name": "worker"
          },
          "skills": [
            "skill://plan.actions@0.1.0"
          ]
        },
        "Parameters": {
          "objectives.$": "$.topic",
          "insights.$": "$.analysis.themes"
        },
        "ResultPath": "$.actionPlan",
        "Next": "QualityReview"
      },
      "QualityReview": {
        "Type": "Task",
        "Comment": "Run QA review on briefing and action plan",
        "AgentBinding": {
          "agent_template_ref": {
            "name": "worker"
          },
          "skills": [
            "skill://qa.review@0.1.0"
          ]
        },
        "Parameters": {
          "draft.$": "States.Format('Briefing: {0}\nActions: {1}', $.briefing.briefing, $.actionPlan.actions)",
          "criteria": [
            "Clarity",
            "Quantitative support",
            "Actionability"
          ]
        },
        "ResultPath": "$.qa",
        "Next": "SummarizePackage"
      },
      "SummarizePackage": {
        "Type": "Task",
        "Comment": "Create short executive digest of outputs",
        "AgentBinding": {
          "agent_template_ref": {
            "name": "worker"
          },
          "skills": [
            "skill://write.summary@0.1.0"
          ]
        },
        "Parameters": {
          "text.$": "States.Format('Briefing: {0}\nActions: {1}\nQA Status: {2}', $.briefing.briefing, $.actionPlan.actions, $.qa.status)"
        },
        "ResultPath": "$.digest",
        "End": true
      }
    }
  }
}